@import "tailwindcss";

@theme {
  --color-primary: #3D2FB3;
  --color-secondary: #16A8E8;
  --color-dark: #111827;
  --color-bg-base: #F8FAFC;
  --color-surface: #FFFFFF;
  --color-border: #E5E7EB;
  --font-sans: 'Inter', sans-serif;
  --font-display: 'Poppins', sans-serif;
}
